/* bouton retour */

.retour {
    position: fixed;
    top: 40px;
    right: 50px;
    z-index: 5;
    width: 40px;
    height: 40px;
    border: 1.5px solid black;
    border-radius: 15%;
    transform: rotate(45deg);
    transition: border-radius .5s ease;
}

.retour:hover {
    border-radius: 50%;
}

.retour svg {   
    width: 25px; 
    transform: rotate(-45deg);
    position: absolute;
    top: 0;
    left: 7px;
}